::-webkit-scrollbar {
    width: 0px;
}

body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    margin: 0px auto;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   background-color: aliceblue;
   
}

video {
    height: 50vh
}

p {
    font-size: 17px;
    text-align:justify-all;
    line-height: 250%;
    padding: 5%;
    color: black;
    width: 100%;
}

spam {
    font-size: 18px;
}

img {
    opacity: 1;
    transition: opacity 0.3s;
}

img[data-src] {
    opacity: 0;
}
button:hover {

  background-color: lightgreen;
} 

button {
 width: 100vw; height: 5vh; border: none; background-color: skyblue

}
/* Menu
 * --------------------------------------- */

.container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    box-shadow: none;
    position: relative;
    overflow: hidden;
    display: none;
}

.content img {
    width: 100%;
    position: relative;
    display: block;
    margin: 40px auto 30px;
}

.container .header {
    position: fixed;
    background-color: transparent;
}

.content {
    overflow-y: hidden;
}

.header {
    background: trasparent;
    overflow: hidden;
    height: 55px;
    width: 100%;
    z-index: 99;
    position: fixed;
    transition: all 0.4s ease-out, background 1s ease-out;
}

.header.menu-open {
    height: 100%;
    background: white;
    transition: all 0.45s ease-out, background 0.8s ease-out;
    overflow-y: hidden;
}


/* Menu List items */

.mobile-menu {
    clear: both; 
}

.header ul.menu {
    position: relative;
    display: block;
    padding: 0px 40px 0;
    list-style: none;
}

.header ul.menu li.menu-item a {
    display: block;
    position: relative;
    color: black;
    text-decoration: none;
    font-size: 18px;
    line-height: 2.8;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
}

.header ul.menu li.menu-item {
    margin-top: 5px;
    opacity: 0;
    transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

.header ul.menu li.menu-item:nth-child(1) {
    transition-delay: 0.35s;
}

.header ul.menu li.menu-item:nth-child(2) {
    transition-delay: 0.3s;
}

.header ul.menu li.menu-item:nth-child(3) {
    transition-delay: 0.25s;
}

.header ul.menu li.menu-item:nth-child(4) {
    transition-delay: 0.2s;
}

.header ul.menu li.menu-item:nth-child(5) {
    transition-delay: 0.15s;
}

.header ul.menu li.menu-item:nth-child(6) {
    transition-delay: 0.1s;
}

.header ul.menu li.menu-item:nth-child(7) {
    transition-delay: 0.05s;
}

.header.menu-open ul.menu li.menu-item {
    opacity: 1;
}

.header.menu-open ul.menu li.menu-item:nth-child(1) {
    transition-delay: 0.05s;
}

.header.menu-open ul.menu li.menu-item:nth-child(2) {
    transition-delay: 0.1s;
}

.header.menu-open ul.menu li.menu-item:nth-child(3) {
    transition-delay: 0.15s;
}

.header.menu-open ul.menu li.menu-item:nth-child(4) {
    transition-delay: 0.2s;
}

.header.menu-open ul.menu li.menu-item:nth-child(5) {
    transition-delay: 0.25s;
}

.header.menu-open ul.menu li.menu-item:nth-child(6) {
    transition-delay: 0.3s;
}

.header.menu-open ul.menu li.menu-item:nth-child(7) {
    transition-delay: 0.35s;
}


/* Menu Icon */

.icon-container {
    position: relative;
    display: inline-block;
    z-index: 2;
    float: right;
    /* Simply change property to float left to switch icon side :) */
    height: 55px;
    width: 55px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

.icon-container #menuicon {
    width: 20px;
    height: 10px;
    position: relative;
    display: block;
    margin: -4px auto 0;
    top: 50%;
}

#menuicon .bar {
    width: 100%;
    height: 3px;
    display: block;
    position: relative;
    background: black;
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

#menuicon .bar.bar1 {
    -webkit-transform: translateY(0px) rotate(0deg);
    transform: translateY(0px) rotate(0deg);
}

#menuicon .bar.bar2 {
    -webkit-transform: translateY(6px) rotate(0deg);
    transform: translateY(6px) rotate(0deg);
}

.menu-open .icon-container {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.menu-open .icon-container #menuicon .bar {
    transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition-delay: 0.1s;
}

.menu-open .icon-container #menuicon .bar.bar1 {
    -webkit-transform: translateY(4px) rotate(45deg);
    transform: translateY(4px) rotate(45deg);
}

.menu-open .icon-container #menuicon .bar.bar2 {
    -webkit-transform: translateY(3px) rotate(-45deg);
    transform: translateY(3px) rotate(-45deg);
}

#menu li {
    display: inline-block;
    margin: 10px;
    color: #000;
}

#menu li.active {
    border-bottom: black 1px solid;
}

a {
    text-decoration: none;
    color: #000;
}

#menu li.active a:hover {
    color: #000;
}

#menu li:hover {}

#menu li a,
#menu li.active a {
    padding: 7px;
    display: block;
}

#menu li.active a {
    color: black;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 55px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    border-color: rgba(0, 0, 0, 0.25);
}


/* Menu List items */

.pagina {
    display: flex;
    flex-direction: row;
    
  
    margin: auto;
    
    align-items: center;
    justify-content: center;
 
  
   
}
    #a { display: flex;}

    #b{ display: none;}


.flex {
    display: flex;

  
       border-radius: 25px;
margin: 12.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
    background-position: center;
    background-repeat: no-repeat;
     box-shadow: 0px 0px 10px 0px #aaaaaa;
   
    
}





.rotondo {
    border-radius: 100%;
    width: 45vh;
    height: 45vh;
    
  transform: scale(0.5);
    background-size: 35vw;
    background-color: white;
    
        display: flex;

  
margin: 12.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
    background-position: center;
    background-repeat: no-repeat;
     box-shadow: 0px 0px 10px 0px #aaaaaa;
   
    
   

}


.shop{
    border-radius: 100%;
    width: 45vh;
    height: 45vh;
  
    background-size: 25vw;
    background-color: aliceblue;
    margin-bottom: 5vh;
       display: flex;

  
      
margin: 12.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
    background-position: center;
    background-repeat: no-repeat;
     box-shadow: 0px 0px 10px 0px #aaaaaa;
    
   

}

.quattro {
    flex-direction: row; 
    
  
   

}


        .quattro .flex { background-size: 25vw;  width: 25vw; height: 25vw;
        
}   
   

}
.due {
    flex-direction: row;
   
}




.tre {
    flex-direction: row;
    
    

}



.text {
 background-color: white;
}

.tre .flex { height: 40vh; width: 50vh;
      
}


.tre .flex p { height: 40vh; width: 50vh; text-align: left
      
}

.due .flex { height: 50vh; width: 50vw;
        
}

.uno .flex {
        height: 100vh; width: 100vw; margin: 0; border-radius: 0; box-shadow: none;
}

.paypal {
    width: 30vh
}




.flex iframe {
    width: 50vh;
    height: 50vh;
    
}

.quattro .flex img {
    width: 50vh;
    height: 50vh;
    
    
}


    
    
    


.quattro .flex a img {
    width: 14vw;
    height: 14vw;

    
}



@media screen and (max-width: 1400px) and (orientation:portrait) {  
    .tre {flex-direction: column;}  
    .tre .flex {width: 50vh; height: 50vh}
    
 .quattro {flex-direction: column;} 
    .quattro .flex {width: 50vh; height: 50vh; background-size: 50vh}
    
    
    .quattro .flex img {width: 50vh; height: 50vh;}
    
    .quattro .flex a img{width: 35vh; height: 35vh;}
    
    
  .due .flex {width: 50vh; height: 50vh;}   
.due {flex-direction: column;} 
    .container {
   
    display: contents;
}
 #menu {display:none;}
   
    
        #a { display: none;}

    #b{ display: flex;}
    

    
.flex {margin: 5px}
    
   .shop{ background-size: 50vh; margin-bottom: 8vh;
    
    
} 


.rotondo{ background-size: 70vh;
    
    
} 
    
     .flex iframe {
    width: 70vh;
    height: 70vh;
    
}     

} 
   
    
   






@media screen and (max-width: 1400px) and (orientation:landscape) {  
    .tre {flex-direction: column;}  
    .tre .flex {width: 70vh; height: 70vh}
    
 .quattro {flex-direction: column;} 
    .quattro .flex {width: 70vh; height: 70vh; background-size: 70vh}
    
    
    .quattro .flex img {width: 70vh; height: 70vh;}
    
    .quattro .flex a img{width: 35vh; height: 35vh;}
    
    
  .due .flex {width: 70vh; height: 70vh;}   
.due {flex-direction: column;} 
    .container {
   
    display: contents;
}
 #menu {display:none;}
   
    
        #a { display: flex;}

    #b{ display: none;}
    

    
.flex {margin: 5px}
    
   .shop{ background-size: 50vh; margin-bottom: 8vh;
    
    
} 


.rotondo{ background-size: 70vh;
    
    
} 
    
     .flex iframe {
    width: 70vh;
    height: 70vh;
    
}     

} 
   
    
   




@media screen and (max-width: 1023px) and (orientation: portrait) {

     p {
    font-size: 15px;
  
}
     .flex iframe {
    width: 73vh;
    height: 73vh;
    
} 

   .tre {flex-direction: column;}  
    .tre .flex {width: 97vw; height: 70vh}
    
 .quattro {flex-direction: column;} 
    .quattro .flex {width: 97vw; height: 50vh; background-size: 50vh}
    
    
    .quattro .flex img {width: 73vh; height: 73vh;}
    
    .quattro .flex a img{width: 25vh; height: 25vh;}
    
    
  .due .flex {width: 97vw;; height: 50vh;}   
.due {flex-direction: column;} 
    .container {
   
    display: contents;
}
 #menu {display:none;}
   
    
        #a { display: none;}

    #b{ display: flex;}
    

    
.flex {margin-top: 5px; margin-bottom: 5px; }
    
   .shop{ background-size: 50vh; margin-bottom: 8vh;
    
    
} 


.rotondo{ background-size: 70vh;} 

    


} 

@media screen and (max-width: 823px) and (max-height: 414px) and (orientation: landscape) {

    
   .tre {flex-direction: column;}  
    .tre .flex {width: 50vh; height: 50vh}
    
 .quattro {flex-direction: column;} 
    .quattro .flex {width: 50vh; height: 50vh; background-size: 50vh}
    
    
    .quattro .flex img {width: 50vh; height: 50vh;}
    
    .quattro .flex a img{width: 25vh; height: 25vh;}
    
    
  .due .flex {width: 50vh; height: 50vh;}   
.due {flex-direction: column;} 
    .container {
   
    display: contents;
}
 #menu {display:none;}
   
    
        #a { display: flex;}

    #b{ display: none;}
    

    
.flex {margin: 5px}
    
   .shop{ background-size: 50vh; margin-bottom: 8vh;
    
    
} 


.rotondo{ background-size: 70vh;
    
    
} 
    
}
    
 @media screen and (width: 280px) and (height: 653px) and (orientation:portrait) {

     .shop{transform: scale(0.8)}  
     .tre {flex-direction: column;}  
    .tre .flex {width: 97vw; height: 100vh}
    
 .quattro {flex-direction: column;} 
    .quattro .flex {width: 97vw; height: 70vh; background-size: 50vh}
    
    
    .quattro .flex img {width: 70vh; height: 70vh;}
    
    .quattro .flex a img{width: 25vh; height: 25vh;}
    
    
  .due .flex {width: 97vw;; height: 60vh;}   
.due {flex-direction: column;} 
    .container {
   
    display: contents;
}
 #menu {display:none;}
   
    
        #a { display: none;}

    #b{ display: flex;}
    

    
.flex {margin-top: 5px; margin-bottom: 5px; }
    
   .shop{ background-size: 50vh; margin-bottom: 8vh;
    
    
} 


.rotondo{ background-size: 70vh;} 

    


} 

@media screen and (max-width: 823px) and (max-height: 414px) and (orientation: landscape) {
p {
    font-size: 15px;
    
}
    
    spam {
    font-size: 15px;
    
}
   .tre {flex-direction: column;}  
    .tre .flex {width: 50vw; height: 50vw}
    
 .quattro {flex-direction: column;} 
    .quattro .flex {width: 50vw; height: 50vw; background-size: 50vw}
    
    
    .quattro .flex img {width: 50vw; height: 50vw;}
    
    .quattro .flex a img{width: 25vw; height: 25vw;}
    
    
  .due .flex {width: 50vw; height: 50vw;}   
.due {flex-direction: column;} 
    .container {
   
    display: contents;
}
 #menu {display:none;}
   
    
        #a { display: flex;}

    #b{ display: none;}
    

    
.flex {margin: 5px}
    
   .shop{ width: 50vw; height: 50vw; background-size: 50vw; margin-bottom: 8vw;
    
    
} 


.rotondo{ background-size: 70vw;
    
    
} 
     
}



@media screen and (width: 653px) and (height: 280px) and (orientation: landscape) {
     
 .tre {flex-direction: column;}  
    .tre .flex {width: 50vw; height: 100vh}
    
 .quattro {flex-direction: column;} 
    .quattro .flex {width: 100vh; height: 100vh; background-size: 50vh}
    
    
    .quattro .flex img {width: 100vh; height: 100vh;}
    
    .quattro .flex a img{width: 25vh; height: 25vh;}
    
    
  .due .flex {width: 50vh; height: 50vh;}   
.due {flex-direction: column;} 
    .container {
   
    display: contents;
}
 #menu {display:none;}
   
    
        #a { display: flex;}

    #b{ display: none;}
    

    
.flex {margin: 5px}
    
   .shop{ width: 50vw; height: 50vw
    
    
} 


.rotondo{ background-size: 70vh;
    
    
} 
     
}
} 

  